body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #789de0;
}
   header{ background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/5a/66/75/lake-naivasha-resort.jpg?w=900&h=-1&s=1");
    background-size: cover; /* Ensures the image covers the header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    height: 200px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black; /* Ensures text is readable */
    padding: 20px;}


nav ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}


nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: rgb(235, 17, 17);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
}

.menu-container, .rooms-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    ;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    background:#789de0;
    text-align: center;
}

button {
    background: #4b0909;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 0%;
    padding: 80px 10%;
    color: #fff;
}
footer{
    padding: o;
    margin: 0;
    font-size: 1em;
    background-color:rgb(14, 10, 10);
    }
    .List ul li a:hover{
        color:red;
    }
    .Bottom-bar{
        text-align: center;
        border: 3px solid #fff;
        color: white;
    }
   
